body {
  background-color: rgb(167, 178, 178);
}
input {
  margin: 10px;
}

button {
  margin: 10px;
}

#ibox {
  margin: 10px;
  width: 400px;
  height: 400px;
  white-space: pre;
  font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  background-color: rgb(173, 241, 113);
  border-style: solid;
}

#obox {
  margin: 10px;
  width: 400px;
  height: 400px;
}

div {
  margin: 10px;
}
